body {
  background: black;
}

.card {
  margin-top: 2rem;
  background: rgba(255,255,255,.5);
}

.btn-group {
  margin: 1rem;
}


/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .container {
    margin: 0;
    padding: 0;
    max-width: none;
  }
.card {
  width: 100%;
  margin: auto;
  border-radius: 0;
  height: auto;
}

h1 {
  font-size: 5rem;
}
h4 {
  font-size: 3rem;
}
.btn-lg {
  font-size: 3rem
}
}
